@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Team Members:</p>
<p>Project Manager - Liao, Noah</p>
<p>Business Analyst - Maknojia, Shaniza</p>
<p>Data Analyst - Emerson, Gil</p>
<p>Back-End Developer - Narshidani, Alvira</p>
<p>Front-End Developer - Scalice, Marcus</p>

