@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Georgian College<br />
    1 Georgian Dr, Barrie, ON L4M 4H8<br />
</address>

<address>
    <strong>Coordinator - Dyck, Chris:</strong>   <a href="mailto:chris.dyck@georgiancollege.ca">chris.dyck@georgiancollege.ca</a><br />
</address>