@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NASA - Meteorites DataSet</h1>
    <p class="lead">This comprehensive data set from The Meteoritical Society contains information on all of the known meteorite landings.</p>
        <p><a href="https://data.nasa.gov/resource/y77d-th95.json" class="btn btn-primary btn-lg">Get here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Data Catalog</h2>
        <p>
            Search the Data Catalog to discover and access NASA data.
        </p>
        <p><a class="btn btn-default" href="https://data.nasa.gov/browse">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>open.NASA.gov</h2>
        <p>Learn about opportunities for you to participate and collaborate with us and each other, and to leverage NASA's open data,  code, and APIs.</p>
        <p><a class="btn btn-default" href="https://open.nasa.gov/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Space Data Daily</h2>
        <p>Space Data Daily contains Open NASA blogposts, articles, press releases, and more--all about NASA's open data initiatives and challenges.</p>
        <p><a class="btn btn-default" href="https://open.nasa.gov/blog/">Learn more &raquo;</a></p>
    </div>
</div>